#quees {

    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

footer{

    background-color: gray;
}


#titulo{
    color: gold;
    font-family: 'Roboto Slab', serif;
}

#contacto{
    color:black;
}